<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--<context:property-placeholder location="classpath*:config.properties"/>-->
    <context:component-scan base-package="com.cslc"/>

    <dubbo:application name="cslc-tcs" owner="chilly" organization="cslc" logger="slf4j"/>

    <dubbo:registry protocol="zookeeper" address="172.26.14.135:2181"/>

    <dubbo:protocol accesslog="true" name="dubbo" port="20880" server="netty4"/>

    <dubbo:annotation package="com.cslc"/>

    <dubbo:service interface="com.cslc.rpc.provider.UserService" ref="userService" protocol="dubbo"
                   version="1.0.0" group="daily"/>


</beans>